{% extends 'base.html' %}
{% load staticfiles %}
{% load material_form %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'base/css/about.css' %}" type =   "text/css"/>

{% endblock %}



{% block content %}

<div id="our_vision_div" style="padding-top:50px;padding-bottom:50px;margin-top:20px;margin-bottom:10px">
<div class="row" >
	<div class="col s10 m8 l6 offset-s1 offset-m2 offset-l6">
		<h2 id="parallex_headings" class="white-text text-darken-4" style="text-align:center">OUR VISION</h2>
		<h5 class="search_text_font flow-text center-align white-text">F CON was formed to acquire and grow heavy-side building materials companies in the aggregates, ready-mix concrete, cement, asphalt paving and construction industries. By teaming up with established local businesses, we are committed to creating value, providing access to growth capital, implementing best practices, and offering a safe place to work while striving to exceed our environmental and social responsibilities.</h5>
	</div>
</div>
</div>




<div id="our_vision_div2" style="padding-top:50px;padding-bottom:50px;margin-top:10px;margin-bottom:10px">
	<h2 id="parallex_headings" class="white-text text-darken-4" style="text-align:center">What binds us </h2>
	
	<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            
            <h4 id="parallex_headings" class="center white-text">Safety</h4>

            <h5 class="light search_text_font flow-text center white-text">It’s our culture and is ingrained in everything we do. It’s protecting our best assets — our people.</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            
            <h4 id="parallex_headings" class="center white-text">Responsibility</h4>

            <h5 class="light search_text_font flow-text center white-text">Doing it right the first time. Standing behind our products and services to meet the needs of — our customers.</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            
            <h4 id="parallex_headings" class="center white-text">Opportunity</h4>

            <h5 class="light search_text_font flow-text center white-text">Maintaining a local presence to bring growth to, and connect with — our communities.</h5>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<div id="our_vision_div3" style="padding-top:50px;padding-bottom:50px;margin-top:10px;margin-bottom:10px">

<div class="row" style="width:90%;margin-left:auto;margin-right:auto">
	<div id="back1" class="col s12 m5 l5" style="margin-right:100px;margin-top:20px" >
		<h5 style="margin-top:70px" class="z-depth-4 center white-text" id="parallex_headings">HELPING YOU DO YOUR BEST WORK</h5>
		<div class="container">			
		<p class="z-depth-4 search_text_font center white-text">With high-quality construction and building materials and a company-wide commitment to responsive, dependable service, F CON can help ensure the most successful outcomes to your construction projects.</p>
		</div>
	</div>
	
	<div id="back2" class="col s12 m5 l5 " style="margin-right:90px;margin-top:20px" >
		<h5 style="margin-top:70px" class="z-depth-4 center white-text" id="parallex_headings">YOUR SOURCE. YOUR RESOURCE.</h5>
		<div class="container">			
		<p class="z-depth-4 search_text_font center white-text">We carry a full line of construction materials so we can simplify your ordering, streamline deliveries and provide you with one-source accountability. Having local branches gives us a better understanding of the specific needs and construction challenges of each local market.</p>
		</div>
	</div>


<div id="back3" class="col s12 m5 l5" style="margin-right:100px;margin-top:20px" >
		<h5 class="z-depth-4 center black-text" style="margin-top:70px" id="parallex_headings">HELPING BUILD YOUR SUCCESS!
</h5>
		<div class="container">			
		<p class="z-depth-4 search_text_font center black-text">This is what it is all about. Providing the goods and service level that will help you do your best work and help you build your success in the construction industry.
</p>
		</div>
	</div>
	
	<div id="back4" class="col s12 m5 l5" style="margin-right:60px;margin-top:20px" >
		<h5 class="z-depth-4 center black-text" style="margin-top:70px" id="parallex_headings">KNOWLEDGE IS OUR BEST PRODUCT</h5>
		<div class="container">			
		<p class="z-depth-4 search_text_font center black-text">With more than 20 years of experience in the construction materials industry, we know more about solving any problems you may face. From our delivery drivers to our sales reps to our office staff, we’ll provide extensive support to help build ...

</p>
		</div>
	</div>	
	

</div>

</div>


	

 

{% endblock %}



{% block basescripts %}

{% endblock %}





